<configuration>
    <property resource="logbacknastavenia.properties" />
    <variable scope="context" name="contextPremenna" value="toto je premenna z contextu" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${${userid}.password:-${default}}    ${contextPremenna:-defaultna hodnota }[%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <variable name="USER_HOME" value="  " />-->
<!--    <variable scope="context" name="contextPremenna" value="toto je premenna z contextu" />-->



    <appender name="FILE" class="ch.qos.logback.core.RollingFileAppender">
<!--        <file>${USER_HOME}/logy.log</file>-->
        <file>logFile</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"  >
            <fileNamePattern>logFile-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--        10 dni historie ale max 2GB dat-->
            <maxHistory>10</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>



        <encoder>
            <pattern>%level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>



    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--        <file>${USER_HOME}/logy.log</file>-->
        <file>${destination}</file>




        <encoder>
            <pattern>%level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>






    <logger name="com.prometheus.entity" level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!--<logger name="sk.jaroslavbeno" level="INFO" additivity="false">-->
    <!--<appender-ref ref="A3"/>-->
    <!--</logger>-->

    <!--<logger name="sk" level="INFO" >-->
    <!--<appender-ref ref="A2"/>-->
    <!--<appender-ref ref="A1"/>-->
    <!--</logger>-->
    <!--<logger name="org.hibernate" level="TRACE" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!--TRACE, DEBUG, INFO, WARN, ERROR, ALL, OFF alebo INHERITED-->

</configuration>
